.a {
    text-decoration: none;
}

body,
dialog,
.button,
.input,
.textarea,
.reagenz-dialog-close-button {
    background: #000;
    color: #ccc;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

.button,
.input,
.textarea {
    border: 1px solid #ccc;
    border-radius: 13px;
    padding: 5px 8px;
}

.button:hover {
    background: #ccc;
    color: #000;
    cursor: pointer;
}

.dialog {
    border: 1px solid #ccc;
}
.dialog::backdrop {
    background: rgba(0, 0, 0, .7);
}

.input[type=text]:read-only {
    background: #999;
    color: #333;
    cursor: not-allowed;
}
.input:invalid {
    border-color: red;
    outline: 5px solid red;
}

.reagenz-dialog-close-button {
    border: none;
    cursor: pointer;
}
.reagenz-dialog-content {
    margin-top: 1.5rem;
}