.display-flex {
	display: flex;
}

.flex-grow-1 {
	flex-grow: 1;
}

.float-right {
	float: right;
}

.margin-bottom-xsmall {
	margin-bottom: 1rem;
}

.margin-left-xsmall {
	margin-left: 1rem;
}

.margin-top-small {
	margin-top: 1.5rem;
}

.text-align-center {
	text-align: center;
}

@media (min-width: 400px) {
	.max-width-400px-desktop {
		max-width: 400px;
	}
}
